<html>
	<body>
		<table border="1px">
			<tr>
				<td>id</td>
				<td>nome</td>
				<td>descricao</td>
				<td>valor</td>
			</tr>
			<% for( i=0 ; i < lista.length; i++ ){ %>
				<tr>
					<td><%= lista[i].id %></td>
					<td><%= lista[i].titulo %></td>
					<td><%= lista[i].descricao %></td>
					<td><%= lista[i].preco %></td>
				</tr>
			<% } %>
		</table>
	</body>
</html>